---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    {% if site.icon %}
      <link rel="icon" type="image/jpg" href="{{ site.icon | relative_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ "/styling/colors.css"           | relative_url }}">
    <link rel="stylesheet" href="{{ "/styling/markdown-styling.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/styling/typography.css"       | relative_url }}">
  </head>
  <body>
    <article>
      {% if page.date %}
        <p>{{ page.date | date: "%-d %B %Y" }}</p>
      {% endif %}
      <h1 class="main-title">{{ page.title }}</h1>
      {% if page.frontImage %}
        <img src="{{ page.frontImage | relative_url }}" style="display: block;" />
      {% endif %}
      {{ content }}
    </article>
  </body>
</html>
